{% extends "base.html" %} {% block content %} <br /><br />

<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s6"><a href="#latihData">Latih Data</a></li>
      <li class="tab col s6"><a class="active" href="#test2">Uji Data</a></li>
    </ul>
  </div>
  <div id="latihData" class="col s12">
    <h2>Data Latih</h2>
    <br />
  </div>
  <div id="test2" class="col s12">
    <h2>Masukkan Data Uji Citra</h2>
    <br />
    <form action="/process" method="POST" enctype="multipart/form-data">
      <div class="file-field input-field">
        <div class="btn">
          <span>Masukkan Citra Uji</span>
          <input type="file" name="file" required id="file" />
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" />
        </div>
        <br /><br /><br />
        <input type="submit" class="btn btn-primary" value="Hitung" />
      </div>
    </form>
  </div>
</div>

{% endblock %}
